.btn-white{
   font-size: 26px;
   font-weight: 600;
   padding: 15px 30px;
   background: #fff;
   color: #e32c2b;
   border: 2px solid #fff;
   display: inline-block;
   transition: all 0.15s ease-in-out;

   &:hover{
      background: transparent;
      color: #fff;
   }
}

.btn-border{
   font-size: 26px;
   font-weight: 600;
   padding: 15px 30px;
   background: transparent;
   color: #fff;
   border: 2px solid #fff;
   display: inline-block;
   transition: all 0.15s ease-in-out;


   &:hover{
      background: #fff;
      color: #e32c2b;
   }
}